:host {
  position: absolute;
  left: 0;
  .excellent {
    background: rgba(76, 175, 80, 0.6);
    border: 1px solid #4CAF50;
  }
  .good {
    background: rgba(205, 220, 57, 0.6);
    border: 1px solid #CDDC39;
  }
  .fair {
    background: rgba(255, 152, 0, 0.6);
    border: 1px solid #FF9800;
  }
  .poor {
    background: rgba(243, 35, 35, 0.6);
    border: 1px solid red;
  }
  div {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: red;
  }
  @-webkit-keyframes slide {
    100% { left: 0; }
  }

  @keyframes slide {
    100% { left: 0; }
  }
}
