<app-customer *ngFor="let customer of getCustomers(map);"
              [ngStyle]="{
                  'transform': 'translate(' + map.get(customer).x + 'px, ' + map.get(customer).y + 'px)',
                  'transition': 'all ' + map.get(customer).transition + 's' + ' cubic-bezier(1, 1, 0, 0) 0s'
              }"
              [health]="customer.health"></app-customer>
<!-- Don't try this at home. It's really bad -->
<ng-container *ngFor="let customer of getCustomers(map); let i = index;">
  <app-modal id="customer-actions-{{ i }}">
    <app-customer-actions [customer]="customer"></app-customer-actions>
  </app-modal>
</ng-container>
